#q1table,table{
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}
th,tr,td{

    border: 2px rgb(100, 185, 235) solid;


}
.q1form,.q2form,.q3form{
    text-align: center;
    
}

#q2answer{
   margin-left: 25%;
    text-align: center;
    border-radius: 5cm;
    width:50%;
    border:grey solid 1px;
}

.ques{
    width: 700px;
    border:black solid 1px;
    margin:30px auto;
    padding: 40px 10px;
}
